.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: black;
	color: floralwhite;
}
.row-footer{
	background-color: #AfAfAf;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}
.address{
	font-size: 80%;
	margin:0px;
	color: #0f0f0f;

}
.gap{
  	padding-top:50px;
	padding-bottom:50px;"
}

.label-name{
	font-size: 20px;
	font-family: Arial;
}
.heading{
	font-size: 25px;
	font-family: Arial;
}
.left-pad{
	padding-right: 20px;
}

.set-or{
	padding-left: 350px;
}
.validation-warning{
	size: 20px;
	color: red;
}
.incorrect{
	color: red;
	size: 25px;
}